<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zf1976.uploader.dao.FileDao">
    <resultMap id="BaseResultMap" type="com.zf1976.uploader.model.File">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="md5" property="md5" />
        <result column="size" property="size" />
        <result column="upload_time" property="uploadTime" />
    </resultMap>

    <sql id="Base_Column_List">

    </sql>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        id,
        name,
        md5,
        size,
        upload_time
        from file
        where id = #{id}
    </select>

    <insert id="save" parameterType="com.zf1976.uploader.model.File" keyProperty="id" useGeneratedKeys="true">
        insert into file(name,md5,size,upload_time) values(#{name},#{md5},#{size},#{uploadTime})
    </insert>

    <update id="update" parameterType="com.zf1976.uploader.model.File" >
        <if test="id != null">
            update file
            <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="md5 != null">
                    md5 = #{md5},
                </if>
                <if test="size != null">
                    path = #{size},
                </if>
                <if test="uploadTime != null">
                    upload_time = #{uploadTime},
                </if>
            </set>
            where id = #{id}
        </if>
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from file where id = #{id}
    </delete>

    <select id="getByFile" parameterType="com.zf1976.uploader.model.File" resultMap="BaseResultMap">
        select
        id,
        name,
        md5,
        size,
        upload_time
        from file
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
            <if test="md5 != null">
                and md5 = #{md5}
            </if>
            <if test="size != null">
                and size = #{size}
            </if>
            <if test="uploadTime != null">
                and upload_time = #{uploadTime}
            </if>
        </where>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, md5, upload_time, size
        from file;
    </select>

    <select id="selectPages" resultMap="BaseResultMap">
        select id,name,md5,upload_time,size
        from file
        limit #{pageNumber}, #{pageSize}
        
    </select>

    <select id="selectTotalRecord" resultType="java.lang.Integer">
        select count(id) from file
    </select>
</mapper>